#about_section{
	margin-top: 15%;
	background-image: url('../Wallpapers/w (44).jpg');
  	height: 700px; 
  	width: 70%;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	float: right;
}

	#about{
		width: 70%;
		transform: translate(-70%, 25%);
		background-color: yellow;
		height: 90%;
		padding: 8%;
		box-shadow: 0 0 20px 13px black;
	}
	.reveal{
		display: none;
	}

		#about h1{
			font-size: 3em;
			font-family: "Georgia";
		}

		#about h2{
			font-family: "Lucida Console";
		}

		#about p{
			font-size: 1.4em;
			font-family: "Comic Sans MS";
		}